@model User
@{
    ViewData["Title"] = "Login";
}

<h2 class="text-danger">Login Page</h2>
<form method="post">
    <div class="d-flex justify-content-center align-items-center">
        <div style="width:400px; background-color: #ccc; padding:30px; box-shadow: rgba(0,0,0,0.35)0px 5px 15px;">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" type="text" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </div>
</form>